.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #000000;
}
.tab-pane .tab {
    -fx-background-color: #000000;
}
.table-column {
    -fx-font-size: 15;
}

#glass-grey { //style from www.http://fxexperience.com
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}